body{
    background-color:rgb(255, 255, 255);
}

div.spacer{
    height:60px;
}

div.paragraph{
    /*Sources: https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table3,https://www.w3schools.com/css/css_border.asp */
    border-style: 5px double black;
    border: 5px;
}

nav{
    background-color: rgb(230, 240, 250);
}