<!--Source: https://www.w3schools.com/bootstrap5/bootstrap_navbar.php -->
<nav class="row navbar navbar-expand fixed-top bg-dark navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item-home">
          <a class="nav-link active icon-link" href="index.html">
            <!--Source: https://getbootstrap.com/docs/5.3/components/navbar/ -->
            Home
            <img src="assets/images/bootstrap-icons/house-door.svg" width="32" height="32" class="d-inline-block align-text-top">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="blog.html">Blog</a>
        </li>

        <li>

        </li>
        
        <!--Source: https://www.w3schools.com/bootstrap5/bootstrap_navbar.php -->
        <li class="nav-item">
          <a class="nav-link active" href="about.html">About</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown">Games</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="InquiryGameInstructions.html" title="(no pun intended.)">In "Alpha" stage!</a></li>
            <li><a class="dropdown-item disabled" href="#">Unfinished</a></li>
            <li><a class="dropdown-item disabled" href="#">Unfinished</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>