<!--Source: https://www.w3schools.com/bootstrap5/bootstrap_navbar.php -->
<nav class="row navbar navbar-expand fixed-top bg-dark navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        {% for item in site.data.navigation %}
        <li class="nav-item">
          <a class="nav-link active" href="{{ item.link }}" {% if page.url == item.link %}style="color: white;"{% endif %}>{{ item.name }}</a>
        </li>
  {% endfor %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown">Games</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="InquiryGameInstructions.html" title="(no pun intended.)">In "Alpha" stage!</a></li>
            <li><a class="dropdown-item disabled" href="#">Unfinished</a></li>
            <li><a class="dropdown-item disabled" href="#">Unfinished</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>